@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: local(""), url("../fonts/Inter-Regular.ttf") format("truetype"), url("../fonts/Inter-Medium.ttf") format("truetype"), url("../fonts/Inter-Bold.ttf") format("truetype"), url("../fonts/Inter-ExtraBold.ttf") format("truetype");
}
.number-time-cont, .contact, .footer-columns, .footer-elements, .personal-manager, .advantage-info, .advantage-container, .block-flex, .img-item-d, .univer-bar .logo-container, .ed-up-text, .ed-info, header nav ul, .header-contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stages .stage3, .stages .stage2, .stages .stage1 {
  width: 95px;
  border: 2px solid #252525;
  margin-right: 9px;
}

.univer-bar .partner-logo5, .univer-bar .partner-logo4, .univer-bar .partner-logo3, .univer-bar .partner-logo2, .univer-bar .partner-logo1 {
  width: 160px;
  height: 72px;
  mix-blend-mode: darken;
  opacity: 0.68;
  background-repeat: no-repeat;
  margin: auto 0 auto 0;
}

.svg--d6, .svg--d5, .svg--d4, .svg--d3, .svg--d2, .svg--d1 {
  background-image: url(../img/Туризм_png.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  margin-top: 65%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
}

header {
  margin-top: 21px;
  margin-bottom: 70px;
}

.container {
  max-width: 1217px;
  margin: auto;
}

body {
  width: 1217px;
  margin: auto;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.header-logo {
  background-image: url(../img/desktop.png);
  background-repeat: no-repeat;
  width: 152px;
  height: 40px;
}

.header-avatar-icon {
  background-image: url(../img/avatar_small.png);
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.header-btn {
  width: 177px;
  height: 30px;
  margin: auto;
  background-color: #000000;
  border-radius: 4px;
}
.header-btn p {
  margin: auto;
  padding-top: 5px;
  width: 153px;
  font-weight: 700;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #fff;
}

.header-contact-info {
  margin-bottom: 35px;
}

.header-contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-contact-items .item-vk {
  background-image: url(../img/vk.png);
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin-right: 16px;
}
.header-contact-items .item-inst {
  background-image: url(../img/instagram.png);
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin-right: 16px;
}
.header-contact-items .item-whatsapp {
  background-image: url(../img/whatsapp.png);
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  margin-right: 31px;
}

.block-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block-phone p {
  font-weight: 600;
  margin: auto;
  margin-right: 13px;
}

.header-block-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  padding: auto;
  list-style: none;
  padding: 4px 12px;
  background: #F2F2F2;
  border-radius: 28px;
}
header nav ul li p {
  margin: auto;
}

.ed-main-img {
  width: 800px;
  height: 496px;
  background-image: url(../img/backgr-img.png);
  background-repeat: no-repeat;
  position: relative;
}
.ed-main-img h1 {
  font-weight: 800;
  font-size: 55px;
  line-height: 60px;
  color: #000000;
  width: 506px;
  padding-top: 40px;
  padding-left: 40px;
}
.ed-main-img p {
  font-size: 22px;
  line-height: 40px;
  color: #000000;
  width: 552px;
  padding-top: 21px;
  padding-left: 40px;
}
.ed-main-img ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 23px;
  margin-top: 68px;
}
.ed-main-img ul li {
  margin-left: 33px;
  padding-left: 7px;
}
.ed-main-img .moscow-img {
  width: 135px;
  height: 135px;
  background-image: url(../img/Ellipse.png);
  position: absolute;
  left: 625px;
  bottom: 40px;
}

.ed-request {
  width: 384px;
  height: 496px;
  background-color: #000000;
}

.stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px auto 0 auto;
  width: 303px;
}
.stages .stage1 {
  border-color: #DFDFDE;
}
.ed-up-text {
  margin: 15px auto 0 auto;
  width: 303px;
}
.ed-up-text h2 {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
}
.ed-up-text p {
  margin: auto 0 auto 0;
  font-size: 13px;
  color: #787878;
}

.ed-request-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 303px;
  height: 172px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 95px auto 0 auto;
}
.ed-request-question h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.answers p {
  margin-bottom: 12px;
  margin-right: 5px;
  height: 31px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #A8A8A8;
  border: 1px solid #282828;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
}

.ed-request-button {
  margin: 52px auto 0 auto;
  width: 304px;
  height: 48px;
  background: #252525;
  border-radius: 4px;
}
.ed-request-button p {
  width: 149px;
  height: 22px;
  padding-top: 10px;
  margin: 0 auto 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.univer-bar {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 193px;
  width: 100%;
  border-top: 1px solid #DFDFDE;
  border-bottom: 1px solid #DFDFDE;
}
.univer-bar .logo-container {
  width: 1216px;
  height: 193px;
}
.univer-bar .partner-logo1 {
  background-image: url(../img/TSU.svg);
}
.univer-bar .partner-logo2 {
  background-image: url(../img/MEU.svg);
}
.univer-bar .partner-logo3 {
  background-image: url(../img/MIU.svg);
}
.univer-bar .partner-logo4 {
  background-image: url(../img/MMA.svg);
}
.univer-bar .partner-logo5 {
  background-image: url(../img/MIU.svg);
}

.directions h1 {
  font-weight: 800;
  font-size: 55px;
  line-height: 60px;
  color: #000000;
  margin-top: 112px;
  margin-bottom: 31px;
}

.flex-item-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 70px;
}

.items__of_directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  border-bottom: 1px solid #DFDFDE;
}
.items__of_directions .val_of_item {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
  margin: auto;
}
.items__of_directions .val_of_item_off {
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #A8A8A8;
  margin: auto;
}
.items__of_directions .num_of_item {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.items__of_directions .num_of_item_off {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #A8A8A8;
}

.all_blocks-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.img-item-d {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.img-item-d ul {
  margin: 9px 0 0 19px;
}
.img-item-d ul li {
  margin-bottom: 10px;
}

.btn-d {
  padding: 0px 12px;
  width: 156px;
  height: 30px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn-d .btn-d-svg {
  font-weight: 800;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #000000;
  margin-right: 7px;
}
.btn-d .btn-d-w {
  padding-top: 2px;
}

.svg--d1 {
  background-image: url(../img/Туризм_png.png);
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  margin-top: 65%;
}

.block-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/туризм.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 320px;
  height: 200px;
  margin: 31px 21px 0 0;
  padding: 24px 32px;
}

.btn-show-all-d {
  width: 1216px;
  height: 48px;
  border: 1px solid #DFDFDE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn-show-all-d p {
  font-weight: 700;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #000000;
  margin: auto;
  text-align: center;
}

.directions h1 {
  font-weight: 800;
  font-size: 55px;
  line-height: 60px;
  color: #000000;
  margin-top: 112px;
  margin-bottom: 31px;
}

.flex-item-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 70px;
}

.items__of_directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  border-bottom: 1px solid #DFDFDE;
}
.items__of_directions .val_of_item {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
  margin: auto;
}
.items__of_directions .val_of_item_off {
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #A8A8A8;
  margin: auto;
}
.items__of_directions .num_of_item {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.items__of_directions .num_of_item_off {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #A8A8A8;
}

.all_blocks-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-item-d {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.img-item-d ul {
  margin: 9px 0 0 19px;
}
.img-item-d ul li {
  margin-bottom: 10px;
}

.btn-d {
  padding: 0px 12px;
  width: 156px;
  height: 30px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn-d .btn-d-svg {
  font-weight: 800;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #000000;
  margin-right: 7px;
}
.btn-d .btn-d-w {
  padding-top: 2px;
}

.svg--d2 {
  background-image: url(../img/юриспруденция.svg);
}

.svg--d3 {
  background-image: url(../img/Экономика.svg);
}

.svg--d4 {
  background-image: url(../img/Журналистика.svg);
}

.svg--d5 {
  background-image: url(../img/Медицинская_оптика.svg);
}

.svg--d6 {
  background-image: url(../img/Реклама.svg);
}

.block-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  width: 320px;
  height: 200px;
  margin-top: 31px;
  padding: 24px 32px;
}
.block-flex h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #000000;
}

.block-flex.bl1 {
  background-image: url(../img/туризм.png);
}

.block-flex.bl2 {
  background-image: url(../img/юриспруденция.png);
}

.block-flex.bl3 {
  background-image: url(../img/экономика.png);
}

.block-flex.bl4 {
  background-image: url(../img/Журналистика.png);
}

.block-flex.bl5 {
  background-image: url(../img/Медицинская_оптика.png);
}

.block-flex.bl6 {
  background-image: url(../img/реклама.png);
}

.btn-show-all-d {
  width: 1216px;
  height: 48px;
  border: 1px solid #DFDFDE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-bottom: 129px;
}
.btn-show-all-d p {
  font-weight: 700;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #000000;
  margin: auto;
  text-align: center;
}

.advantage-container {
  width: 1217px;
  height: 400px;
}

.adv-first-container {
  height: 344px;
  margin-bottom: 151px;
}

.adv-second-container {
  margin-bottom: 127px;
}

.adv-third-container {
  margin-bottom: 81px;
}

.advantage-image {
  width: 488px;
  height: 400px;
}

.adv-first-image {
  height: 344px;
  background-image: url(../img/diplom.png);
}

.adv-second-image {
  background-image: url(../img/учитьсястелефна.png);
}

.adv-third-image {
  background-image: url(../img/учитьсястелефна2.png);
}

.advantage-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.advantage-info h2,
.advantage-info h3,
.advantage-info h4 {
  width: 519px;
  height: 102px;
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  color: #000000;
}
.advantage-info h3 {
  width: 440px;
}
.advantage-info h4 {
  width: 301px;
}
.advantage-info p {
  width: 511px;
  height: 120px;
  font-size: 22px;
  line-height: 40px;
  color: #000000;
}
.advantage-info .adv-desc2 {
  padding-top: 21px;
  width: 482px;
}

.diplom-choice {
  width: 592px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #DFDFDE;
}
.diplom-choice p {
  margin-left: 95px;
  height: 57px;
  width: 106px;
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  color: #A8A8A8;
}
.diplom-choice .edu1 {
  margin-left: 0;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.scheme-button {
  margin-bottom: 31px;
  width: 279px;
  height: 48px;
  border: 1px solid #DFDFDE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}
.scheme-button p {
  margin: auto;
  padding-top: 12px;
  width: 163px;
  height: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.questions {
  margin-top: 30px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.que {
  padding-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 112px;
  border-bottom: 1px solid #4A4A4A;
}
.que h2 {
  margin: auto 0 auto 0;
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  color: #fff;
}
.que p {
  padding-right: 60px;
  margin-top: auto;
  margin-bottom: auto;
  width: 277px;
  height: 44px;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-align: right;
  color: #787878;
}
.que h3,
.que h4 {
  margin: auto 0 auto 0;
  width: 800px;
  height: 40px;
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  color: #fff;
}
.que h4 {
  height: 80px;
}

.white-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 64px;
  margin-right: 73px;
  margin-top: 128px;
  width: auto;
  height: 419px;
  background-color: #fff;
}

.manager-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 328px;
  height: 294px;
}
.manager-block h1 {
  width: 311px;
  height: 102px;
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  color: #000000;
}
.manager-block p {
  width: 312px;
  height: 96px;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

.personal-manager {
  width: 301px;
  height: 50px;
}
.personal-manager p {
  margin: auto auto auto 15px;
  width: 232px;
  height: 44px;
  font-size: 13px;
  line-height: 22px;
  color: #787878;
}

.manager-icon {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/avatar_small.png);
}

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 307px;
}
.form-block p {
  width: 280px;
  height: 66px;
  font-size: 13px;
  line-height: 22px;
  color: #787878;
}

.your-name p {
  width: 280px;
  height: 22px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 11px;
}
.your-name input {
  width: 312px;
  height: 56px;
  background: #F2F2F2;
  border: 0;
  border-radius: 4px;
  padding-left: 19px;
}
.your-name ::-webkit-input-placeholder {
  color: #A8A8A8;
  font-size: 16px;
  line-height: 22px;
}
.your-name ::-moz-placeholder {
  color: #A8A8A8;
  font-size: 16px;
  line-height: 22px;
}
.your-name :-ms-input-placeholder {
  color: #A8A8A8;
  font-size: 16px;
  line-height: 22px;
}
.your-name ::-ms-input-placeholder {
  color: #A8A8A8;
  font-size: 16px;
  line-height: 22px;
}
.your-name ::placeholder {
  color: #A8A8A8;
  font-size: 16px;
  line-height: 22px;
}

.question-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 294px;
}

.tellme p {
  width: 205px;
  height: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 11px;
}
.tellme input {
  width: 343px;
  height: 176px;
  border: 0;
  background: #F2F2F2;
  border-radius: 4px;
}
.tellme ::-webkit-input-placeholder {
  padding-left: 19px;
  -webkit-transform: translateY(-65px);
          transform: translateY(-65px);
  white-space: normal;
  max-width: 240px;
  height: 50px;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #A8A8A8;
}
.tellme ::-moz-placeholder {
  padding-left: 19px;
  transform: translateY(-65px);
  white-space: normal;
  max-width: 240px;
  height: 50px;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #A8A8A8;
}
.tellme :-ms-input-placeholder {
  padding-left: 19px;
  transform: translateY(-65px);
  white-space: normal;
  max-width: 240px;
  height: 50px;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #A8A8A8;
}
.tellme ::-ms-input-placeholder {
  padding-left: 19px;
  transform: translateY(-65px);
  white-space: normal;
  max-width: 240px;
  height: 50px;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #A8A8A8;
}
.tellme ::placeholder {
  padding-left: 19px;
  -webkit-transform: translateY(-65px);
          transform: translateY(-65px);
  white-space: normal;
  max-width: 240px;
  height: 50px;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #A8A8A8;
}

.send-que-btn {
  width: 344px;
  height: 63px;
  border-radius: 4px;
  background-color: #000000;
}
.send-que-btn p {
  margin: auto;
  padding-top: 20px;
  width: 125px;
  height: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #fff;
}

.footer-elements {
  width: 1216px;
  height: 392px;
  background-color: #000000;
}

.politics {
  margin-top: 100px;
  margin-left: auto;
  width: 224px;
  height: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.politics p {
  width: 224px;
  height: 97px;
  font-size: 13px;
  line-height: 22px;
  color: #787878;
}
.politics a {
  width: 208px;
  height: 23px;
  font-size: 13px;
  line-height: 22px;
  color: #fff;
}

.footer-columns {
  margin: auto;
  width: 575px;
  height: 190px;
}

.footer-column1,
.footer-column2,
.footer-column3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-column1 a,
.footer-column2 a,
.footer-column3 a {
  height: 22px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #fff;
}

.footer-column1 {
  width: 107px;
  height: 190px;
}

.footer-column2 {
  width: 138px;
  height: 190px;
}

.footer-column3 {
  width: 152px;
  height: 190px;
}

.contact {
  margin-top: auto;
  height: 263px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  margin-right: 67px;
}

.number-time-cont {
  width: 152px;
  height: 79px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.number-time-cont .number {
  width: 147px;
  height: 22px;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}
.number-time-cont .worktime {
  width: 152px;
  height: 44px;
  font-size: 13px;
  line-height: 22px;
  color: #fff;
}

.searcher {
  background-color: #000000;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.searcher a {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #fff;
}
.searcher .green-dot {
  margin-left: 13px;
  background-image: url(../img/greendot.svg);
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
}

@media screen and (max-width: 425px) {
  header {
    margin-bottom: 0;
  }

  .header-contact-info {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-logo {
    margin: 0 auto;
    background-size: contain;
    width: 390px;
    height: 100px;
  }

  .header-block-contact {
    width: 80%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-contact-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-vk {
    background-size: contain;
    width: 108px;
    height: 108px;
    margin-right: 16px;
  }

  .header-avatar-icon {
    width: 100px;
    height: 100px;
    background-size: contain;
    margin-right: 18px;
  }

  .block-phone {
    margin-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block-phone p {
    margin: auto 0 auto 0;
    font-size: 50px;
  }

  .header-btn {
    margin-top: 50px;
    width: 90%;
    height: 80px;
  }
  .header-btn p {
    width: 80%;
    height: 80%;
    font-size: 250%;
    padding-top: 4%;
    margin: auto;
    text-align: center;
  }

  nav ul {
    padding: 30px;
    margin-top: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav ul li {
    width: 528px;
    margin-bottom: 10px;
    margin-bottom: 30px;
  }
  nav ul li p {
    text-align: center;
    font-size: 300%;
  }

  .ed-info {
    max-width: 425px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ed-main-img {
    width: 1222px;
    height: 830px;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ed-main-img h1 {
    text-align: center;
    font-size: 80px;
    width: auto;
    line-height: inherit;
    height: auto;
  }
  .ed-main-img p {
    text-align: left;
    margin-top: 20px;
    font-size: 50px;
    width: auto;
    line-height: 1;
  }
  .ed-main-img ul {
    margin: 50px 0 50px 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 50px;
  }
  .ed-main-img .moscow-img {
    display: none;
  }

  .ed-request {
    width: 1222px;
    height: 1100px;
  }
  .ed-request .stages {
    width: 500px;
    margin: 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ed-request .stages .stage1,
.ed-request .stages .stage2,
.ed-request .stages .stage3 {
    width: 20%;
    border: 6px solid #DFDFDE;
  }
  .ed-request .stages .stage2,
.ed-request .stages .stage3 {
    margin-left: 30px;
    border: 6px solid #252525;
  }
  .ed-request .ed-up-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
  .ed-request .ed-up-text .ed-request-text {
    font-size: 70px;
  }
  .ed-request .ed-up-text .stage-number {
    font-size: 50px;
    margin-left: 50px;
  }
  .ed-request .ed-request-question {
    height: auto;
    width: 1050px;
  }
  .ed-request .ed-request-question .question-text {
    text-align: center;
    font-size: 50px;
  }
  .ed-request .ed-request-question .answers {
    width: 90%;
    margin: 100px auto;
  }
  .ed-request .ed-request-question .answers .question-answer {
    margin-bottom: 22px;
    margin-right: 15px;
    height: 87px;
    padding: 24px 24px;
    font-weight: 600;
    font-size: 45px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #A8A8A8;
    border: 6px solid #282828;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 40px;
  }
  .ed-request .ed-request-question .ed-request-button {
    width: 800px;
    height: 84px;
    margin: 0 auto;
  }
  .ed-request .ed-request-question .ed-request-button p {
    padding-top: 30px;
    text-align: center;
    width: 80%;
    height: 100%;
    margin: 0 auto 0 auto;
    font-size: 50px;
  }

  .univer-bar {
    display: none;
  }

  .directions h1 {
    font-size: 70px;
    text-align: center;
  }

  .items__of_directions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 100px;
  }
  .items__of_directions .flex-item-d p {
    font-size: 40px;
  }

  .all_blocks-d {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-flex {
    width: 803px;
    height: 489px;
  }
  .block-flex h2 {
    font-size: 50px;
    margin-top: 40px;
    height: auto;
    line-height: 1;
    width: 476px;
  }

  .svg--d1,
.svg--d2,
.svg--d3,
.svg--d4,
.svg--d5,
.svg--d6 {
    width: 232px;
    height: 195px;
    margin-top: 65%;
  }

  .img-item-d ul {
    margin-top: 40px;
  }
  .img-item-d ul li {
    font-size: 40px;
  }
  .img-item-d .btn-d {
    width: 407px;
    height: 66px;
  }
  .img-item-d .btn-d .btn-d-svg {
    font-size: 11px;
    line-height: 22px;
    margin-right: 7px;
  }
  .img-item-d .btn-d .btn-d-w {
    font-size: 40px;
  }

  .btn-show-all-d {
    width: 1000px;
    height: 112px;
    margin: 40px auto 80px auto;
  }
  .btn-show-all-d p {
    font-size: 40px;
  }

  .adv-first-container,
.adv-second-container,
.adv-third-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .adv-first-container .advantage-info,
.adv-second-container .advantage-info,
.adv-third-container .advantage-info {
    margin: 50px auto;
    width: auto;
  }
  .adv-first-container .advantage-info p,
.adv-second-container .advantage-info p,
.adv-third-container .advantage-info p {
    font-size: 40px;
    width: auto;
    height: auto;
    margin: 40px auto;
    padding-left: 30px;
    text-align: left;
  }
  .adv-first-container .advantage-info h2,
.adv-first-container .advantage-info h3,
.adv-first-container .advantage-info h4,
.adv-second-container .advantage-info h2,
.adv-second-container .advantage-info h3,
.adv-second-container .advantage-info h4,
.adv-third-container .advantage-info h2,
.adv-third-container .advantage-info h3,
.adv-third-container .advantage-info h4 {
    margin: auto;
    font-size: 70px;
    width: auto;
    height: auto;
    text-align: center;
    line-height: 1;
  }
  .adv-first-container .advantage-info .diplom-choice,
.adv-second-container .advantage-info .diplom-choice,
.adv-third-container .advantage-info .diplom-choice {
    width: auto;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .adv-first-container .advantage-info .scheme-button,
.adv-second-container .advantage-info .scheme-button,
.adv-third-container .advantage-info .scheme-button {
    margin: auto;
    width: 850px;
    height: 122px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .adv-first-container .advantage-info .scheme-button p,
.adv-second-container .advantage-info .scheme-button p,
.adv-third-container .advantage-info .scheme-button p {
    text-align: center;
    font-size: 50px;
  }
  .adv-first-container .adv-first-image,
.adv-first-container .adv-second-image,
.adv-first-container .adv-third-image,
.adv-second-container .adv-first-image,
.adv-second-container .adv-second-image,
.adv-second-container .adv-third-image,
.adv-third-container .adv-first-image,
.adv-third-container .adv-second-image,
.adv-third-container .adv-third-image {
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .que {
    height: 212px;
  }
  .que h2,
.que h3,
.que h4 {
    font-size: 45px;
    width: auto;
    line-height: 1;
  }
  .que p {
    line-height: 1;
    width: 60%;
    font-size: 35px;
  }

  .white-block {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .white-block .manager-block,
.white-block .personal-manager,
.white-block .form-block,
.white-block .question-block {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .white-block .manager-block .personal-manager,
.white-block .personal-manager .personal-manager,
.white-block .form-block .personal-manager,
.white-block .question-block .personal-manager {
    display: none;
  }
  .white-block .manager-block .form-block p,
.white-block .personal-manager .form-block p,
.white-block .form-block .form-block p,
.white-block .question-block .form-block p {
    height: 50px;
    font-size: 55px;
    line-height: 1px;
    margin-top: 40px;
  }
  .white-block .manager-block .your-name,
.white-block .personal-manager .your-name,
.white-block .form-block .your-name,
.white-block .question-block .your-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .white-block .manager-block .your-name p,
.white-block .personal-manager .your-name p,
.white-block .form-block .your-name p,
.white-block .question-block .your-name p {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .white-block .manager-block .your-name input,
.white-block .personal-manager .your-name input,
.white-block .form-block .your-name input,
.white-block .question-block .your-name input {
    width: 924px;
    height: 151px;
  }
  .white-block .manager-block .your-name ::-webkit-input-placeholder, .white-block .personal-manager .your-name ::-webkit-input-placeholder, .white-block .form-block .your-name ::-webkit-input-placeholder, .white-block .question-block .your-name ::-webkit-input-placeholder {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 50px;
    line-height: 50px;
  }
  .white-block .manager-block .your-name ::-moz-placeholder, .white-block .personal-manager .your-name ::-moz-placeholder, .white-block .form-block .your-name ::-moz-placeholder, .white-block .question-block .your-name ::-moz-placeholder {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 50px;
    line-height: 50px;
  }
  .white-block .manager-block .your-name :-ms-input-placeholder, .white-block .personal-manager .your-name :-ms-input-placeholder, .white-block .form-block .your-name :-ms-input-placeholder, .white-block .question-block .your-name :-ms-input-placeholder {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 50px;
    line-height: 50px;
  }
  .white-block .manager-block .your-name ::-ms-input-placeholder, .white-block .personal-manager .your-name ::-ms-input-placeholder, .white-block .form-block .your-name ::-ms-input-placeholder, .white-block .question-block .your-name ::-ms-input-placeholder {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 50px;
    line-height: 50px;
  }
  .white-block .manager-block .your-name ::placeholder,
.white-block .personal-manager .your-name ::placeholder,
.white-block .form-block .your-name ::placeholder,
.white-block .question-block .your-name ::placeholder {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 50px;
    line-height: 50px;
  }
  .white-block h1 {
    font-size: 70px;
    width: 100%;
    text-align: center;
  }
  .white-block p {
    width: 100%;
    height: auto;
    font-size: 45px;
    text-align: center;
    line-height: 1;
  }
  .white-block .question-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .white-block .tellme {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .white-block .tellme input {
    width: 924px;
    height: 451px;
    margin-top: 30px;
  }
  .white-block .tellme ::-webkit-input-placeholder {
    padding-left: 19px;
    -webkit-transform: translateY(-95px);
            transform: translateY(-95px);
    white-space: normal;
    max-width: 740px;
    height: 450px;
    letter-spacing: 0.01em;
    font-size: 50px;
  }
  .white-block .tellme ::-moz-placeholder {
    padding-left: 19px;
    transform: translateY(-95px);
    white-space: normal;
    max-width: 740px;
    height: 450px;
    letter-spacing: 0.01em;
    font-size: 50px;
  }
  .white-block .tellme :-ms-input-placeholder {
    padding-left: 19px;
    transform: translateY(-95px);
    white-space: normal;
    max-width: 740px;
    height: 450px;
    letter-spacing: 0.01em;
    font-size: 50px;
  }
  .white-block .tellme ::-ms-input-placeholder {
    padding-left: 19px;
    transform: translateY(-95px);
    white-space: normal;
    max-width: 740px;
    height: 450px;
    letter-spacing: 0.01em;
    font-size: 50px;
  }
  .white-block .tellme ::placeholder {
    padding-left: 19px;
    -webkit-transform: translateY(-95px);
            transform: translateY(-95px);
    white-space: normal;
    max-width: 740px;
    height: 450px;
    letter-spacing: 0.01em;
    font-size: 50px;
  }
  .white-block .send-que-btn {
    width: 600px;
    height: 104px;
    margin-top: 50px;
  }

  .footer-elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-elements .footer-columns {
    width: 80%;
    margin-top: 30px;
  }
  .footer-elements .footer-columns .footer-column1,
.footer-elements .footer-columns .footer-column2,
.footer-elements .footer-columns .footer-column3 {
    margin: auto;
    width: auto;
    height: auto;
  }
  .footer-elements .footer-columns .footer-column1 a,
.footer-elements .footer-columns .footer-column2 a,
.footer-elements .footer-columns .footer-column3 a {
    height: auto;
    width: auto;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer-elements .politics {
    margin: 0;
    width: auto;
    height: auto;
  }
  .footer-elements .politics p,
.footer-elements .politics a {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    width: auto;
    height: 60px;
    line-height: 50px;
  }
  .footer-elements .politics a {
    font-size: 30px;
  }
  .footer-elements .number-time-cont {
    width: auto;
  }
  .footer-elements .number-time-cont p {
    font-size: 40px;
    width: auto;
  }

  .searcher {
    display: none;
  }
}