@font-face {
    font-family: 'Inter';
    src: local(''),
        url('../fonts/Inter-Regular.ttf') format('truetype'),
        url('../fonts/Inter-Medium.ttf') format('truetype'),
        url('../fonts/Inter-Bold.ttf') format('truetype'),
        url('../fonts/Inter-ExtraBold.ttf') format('truetype');
}

$font-color-fff:#fff;
$font-color-000:#000000;
$font-color-A8A8A8:#A8A8A8;
$font-color-DFDFDE:#DFDFDE;
$font-color-787878:#787878;
$font-color-F2F2F2:#F2F2F2;
$font-color-282828:#282828;
$font-color-252525:#252525;
$font-color-4A4A4A:#4A4A4A;



%display-flex-spb {
    display: flex;
    justify-content: space-between;
}

%stages {
    width: 95px;
    border: 2px solid $font-color-252525;
    margin-right: 9px;
}

%partner-logo {
    width: 160px;
    height: 72px;
    mix-blend-mode: darken;
    opacity: 0.68;
    background-repeat: no-repeat;
    margin: auto 0 auto 0;
}

%direct-background {
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    width: 320px;
    height: 200px;
    margin-top: 31px;
    @extend %display-flex-spb;
    padding: 24px 32px;
}

%svg-d {
    background-image: url(../img/Туризм_png.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    margin-top: 65%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
}

header {
    margin-top: 21px;
    margin-bottom: 70px;
}

.container {
    max-width: 1217px;
}

@media screen and (max-width:768px) {
    .container {
        max-width: none;
    }

}

body {
    width: 1217px;
    background-color: $font-color-fff;
    margin: auto;


}

a {
    text-decoration: none;
}

.header-logo {
    background-image: url(../img/desktop.png);
    background-repeat: no-repeat;
    width: 152px;
    height: 40px;
}

.header-avatar-icon {
    background-image: url(../img/avatar_small.png);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

.header-btn {
    width: 177px;
    height: 30px;
    margin: auto;
    background-color: $font-color-000;
    border-radius: 4px;

    p {
        margin: auto;
        padding-top: 5px;
        width: 153px;
        font-weight: 700;
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        color: $font-color-fff;
    }
}

.header-contact-info {
    @extend %display-flex-spb;
    margin-bottom: 35px;
}

.header-contact-items {
    display: flex;

    .item-vk {
        background-image: url(../img/vk.png);
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
        margin-right: 16px;
    }

    .item-inst {
        background-image: url(../img/instagram.png);
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
        margin-right: 16px;
    }

    .item-whatsapp {
        background-image: url(../img/whatsapp.png);
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
        margin-right: 31px;
    }
}

.block-phone {
    display: flex;

    p {
        font-weight: 600;
        margin: auto;
        margin-right: 13px;
    }
}

.header-block-contact {
    display: flex;
}

header nav ul {
    @extend %display-flex-spb;

    li {
        padding: auto;
        list-style: none;
        padding: 4px 12px;

        background: $font-color-F2F2F2;
        border-radius: 28px;

        p {
            margin: auto;
        }
    }
}

.ed-info {
    @extend %display-flex-spb;
}

.ed-main-img {
    width: 800px;
    height: 496px;
    background-image: url(../img/backgr-img.png);
    background-repeat: no-repeat;
    position: relative;

    h1 {
        font-weight: 800;
        font-size: 55px;
        line-height: 60px;
        color: $font-color-000;
        width: 506px;
        padding-top: 40px;
        padding-left: 40px;

    }

    p {
        font-size: 22px;
        line-height: 40px;
        color: $font-color-000;
        width: 552px;
        padding-top: 21px;
        padding-left: 40px;
    }

    ul {
        display: flex;
        margin-left: 23px;
        margin-top: 68px;

        li {
            margin-left: 33px;
            padding-left: 7px;
        }
    }

    .moscow-img {
        width: 135px;
        height: 135px;
        background-image: url(../img/Ellipse.png);
        position: absolute;
        left: 625px;
        bottom: 40px;
    }
}

.ed-request {
    width: 384px;
    height: 496px;
    background-color: $font-color-000;
}

.stages {
    display: flex;
    margin: 32px auto 0 auto;
    width: 303px;


    .stage1 {
        @extend %stages;
        border-color: $font-color-DFDFDE;
    }

    .stage2 {
        @extend %stages;
    }

    .stage3 {
        @extend %stages;
    }
}

.ed-up-text {
    @extend %display-flex-spb;
    margin: 15px auto 0 auto;
    width: 303px;

    h2 {
        color: $font-color-fff;
        font-weight: 600;
        font-size: 22px;
    }

    p {
        margin: auto 0 auto 0;
        font-size: 13px;

        color: $font-color-787878;
    }
}

.ed-request-question {
    display: flex;
    width: 303px;
    height: 172px;
    flex-direction: column;
    justify-content: space-between;
    margin: 95px auto 0 auto;

    h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: $font-color-fff;
    }
}

.answers {
    display: flex;
    flex-wrap: wrap;

    p {
        margin-bottom: 12px;
        margin-right: 5px;
        height: 31px;
        padding: 5px 10px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: $font-color-A8A8A8;
        border: 1px solid $font-color-282828;
        box-sizing: border-box;
        border-radius: 40px;
    }
}

.ed-request-button {
    margin: 52px auto 0 auto;
    width: 304px;
    height: 48px;
    background: $font-color-252525;
    border-radius: 4px;

    p {
        width: 149px;
        height: 22px;
        padding-top: 10px;
        margin: 0 auto 0 auto;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
    }
}

.univer-bar {
    margin-top: 63px;
    display: flex;
    justify-content: center;
    height: 193px;
    width: 100%;
    border-top: 1px solid $font-color-DFDFDE;
    border-bottom: 1px solid $font-color-DFDFDE;

    .logo-container {
        @extend %display-flex-spb;
        width: 1216px;
        height: 193px
    }

    .partner-logo1 {
        @extend %partner-logo;
        background-image: url(../img/TSU.svg);
    }

    .partner-logo2 {
        @extend %partner-logo;
        background-image: url(../img/MEU.svg);
    }

    .partner-logo3 {
        @extend %partner-logo;
        background-image: url(../img/MIU.svg);
    }

    .partner-logo4 {
        @extend %partner-logo;
        background-image: url(../img/MMA.svg);
    }

    .partner-logo5 {
        @extend %partner-logo;
        background-image: url(../img/MIU.svg);
    }
}

.directions {
    h1 {
        font-weight: 800;
        font-size: 55px;
        line-height: 60px;
        color: $font-color-000;
        margin-top: 112px;
        margin-bottom: 31px;
    }
}

.flex-item-d {
    display: flex;
    margin-right: 70px;
}

.items__of_directions {
    display: flex;
    height: 56px;
    border-bottom: 1px solid $font-color-DFDFDE;

    .val_of_item {
        font-weight: 600;
        font-size: 26px;
        line-height: 30px;
        color: $font-color-000;
        margin: auto;
    }

    .val_of_item_off {
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        color: $font-color-A8A8A8;
        margin: auto;
    }

    .num_of_item {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: $font-color-000;
    }

    .num_of_item_off {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: $font-color-A8A8A8;
    }
}

.all_blocks-d {
    display: flex;
    flex-wrap: wrap;
}

.img-item-d {
    @extend %display-flex-spb;
    flex-direction: column;

    ul {
        margin: 9px 0 0 19px;

        li {
            margin-bottom: 10px;
        }
    }
}

.btn-d {
    padding: 0px 12px;
    width: 156px;
    height: 30px;
    border: 1px solid $font-color-000;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;

    .btn-d-svg {
        font-weight: 800;
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        color: $font-color-000;
        margin-right: 7px;
    }

    .btn-d-w {
        padding-top: 2px;
    }
}

.svg--d1 {
    background-image: url(../img/Туризм_png.png);
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    margin-top: 65%;
}

.block-flex {
    display: flex;
    background-image: url(../img/туризм.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 320px;
    height: 200px;
    margin: 31px 21px 0 0;
    @extend %display-flex-spb;
    padding: 24px 32px;
}

.btn-show-all-d {
    width: 1216px;
    height: 48px;
    border: 1px solid $font-color-DFDFDE;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;

    p {
        font-weight: 700;
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        color: #000000;
        margin: auto;
        text-align: center;
    }
}

.directions {
    h1 {
        font-weight: 800;
        font-size: 55px;
        line-height: 60px;
        color: $font-color-000;
        margin-top: 112px;
        margin-bottom: 31px;
    }
}

.flex-item-d {
    display: flex;
    margin-right: 70px;
}

.items__of_directions {
    display: flex;
    height: 56px;
    border-bottom: 1px solid $font-color-DFDFDE;

    .val_of_item {
        font-weight: 600;
        font-size: 26px;
        line-height: 30px;
        color: $font-color-000;
        margin: auto;
    }

    .val_of_item_off {
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        color: $font-color-A8A8A8;
        margin: auto;
    }

    .num_of_item {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: $font-color-000;
    }

    .num_of_item_off {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: $font-color-A8A8A8;
    }
}

.all_blocks-d {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-item-d {
    @extend %display-flex-spb;
    flex-direction: column;

    ul {
        margin: 9px 0 0 19px;

        li {
            margin-bottom: 10px;
        }
    }
}

.btn-d {
    padding: 0px 12px;
    width: 156px;
    height: 30px;
    border: 1px solid $font-color-000;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;

    .btn-d-svg {
        font-weight: 800;
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        color: $font-color-000;
        margin-right: 7px;
    }

    .btn-d-w {
        padding-top: 2px;
    }
}

.svg--d1 {
    @extend %svg-d;
}

.svg--d2 {
    @extend %svg-d;
    background-image: url(../img/юриспруденция.svg)
}

.svg--d3 {
    @extend %svg-d;
    background-image: url(../img/Экономика.svg)
}

.svg--d4 {
    @extend %svg-d;
    background-image: url(../img/Журналистика.svg)
}

.svg--d5 {
    @extend %svg-d;
    background-image: url(../img/Медицинская_оптика.svg)
}

.svg--d6 {
    @extend %svg-d;
    background-image: url(../img/Реклама.svg)
}

.block-flex {
    @extend %direct-background;

    h2 {
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        color: $font-color-000;
    }
}

.block-flex.bl1 {
    background-image: url(../img/туризм.png);
}

.block-flex.bl2 {
    background-image: url(../img/юриспруденция.png);
}

.block-flex.bl3 {
    background-image: url(../img/экономика.png);
}

.block-flex.bl4 {
    background-image: url(../img/Журналистика.png);
}

.block-flex.bl5 {
    background-image: url(../img/Медицинская_оптика.png);
}

.block-flex.bl6 {
    background-image: url(../img/реклама.png);
}


.btn-show-all-d {
    width: 1216px;
    height: 48px;
    border: 1px solid $font-color-DFDFDE;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    margin-top: 32px;
    margin-bottom: 129px;

    p {
        font-weight: 700;
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        color: #000000;
        margin: auto;
        text-align: center;
    }
}

.advantage-container {
    width: 1217px;
    height: 400px;
    @extend %display-flex-spb;
}

.adv-first-container {
    height: 344px;
    margin-bottom: 151px;
}

.adv-second-container {
    margin-bottom: 127px;
}

.adv-third-container {
    margin-bottom: 81px;
}

.advantage-image {
    width: 488px;
    height: 400px;
}

.adv-first-image {
    height: 344px;
    background-image: url(../img/diplom.png);
}

.adv-second-image {
    background-image: url(../img/учитьсястелефна.png)
}

.adv-third-image {
    background-image: url(../img/учитьсястелефна2.png)
}

.advantage-info {
    @extend %display-flex-spb;
    flex-direction: column;

    h2,
    h3,
    h4 {
        width: 519px;
        height: 102px;
        font-weight: 700;
        font-size: 44px;
        line-height: 51px;
        color: $font-color-000;
    }

    h3 {
        width: 440px;
    }

    h4 {
        width: 301px;
    }

    p {
        width: 511px;
        height: 120px;
        font-size: 22px;
        line-height: 40px;
        color: $font-color-000;
    }

    .adv-desc2 {
        padding-top: 21px;
        width: 482px;
    }
}

.diplom-choice {
    width: 592px;
    height: 56px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid $font-color-DFDFDE;

    p {
        margin-left: 95px;
        height: 57px;
        width: 106px;
        font-weight: 600;
        font-size: 26px;
        line-height: 30px;
        color: $font-color-A8A8A8;
    }

    .edu1 {
        margin-left: 0;
        color: $font-color-000;
        border-bottom: 1px solid $font-color-000;
    }
}

.scheme-button {
    margin-bottom: 31px;
    width: 279px;
    height: 48px;
    border: 1px solid $font-color-DFDFDE;
    box-sizing: border-box;
    border-radius: 4px;

    p {
        margin: auto;
        padding-top: 12px;
        width: 163px;
        height: 22px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: $font-color-000;
    }
}

// black block //////////////////////////////////////////////////////////

.questions {
    margin-top: 30px;
    background-color: $font-color-000;
    display: flex;
    flex-direction: column;
}

.que {
    display: flex;
    justify-content: space-between;
    height: 112px;
    border-bottom: 1px solid $font-color-4A4A4A;

    h2 {
        margin: auto 0 auto 0;
        font-weight: 700;
        font-size: 44px;
        line-height: 51px;
        color: $font-color-fff;
    }

    p {
        margin-top: auto;
        margin-bottom: auto;
        width: 277px;
        height: 44px;
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
        text-align: right;
        color: $font-color-787878;
    }

    h3,
    h4 {
        margin: auto 0 auto 0;
        width: 800px;
        height: 40px;
        font-weight: 600;
        font-size: 22px;
        line-height: 40px;
        color: $font-color-fff;
    }

    h4 {
        height: 80px;
    }
}

// WHITE BLOCK //////////////////////////////////////

.white-block {
    margin-left: auto;
    margin-right: auto;
    @extend %display-flex-spb;
    margin-top: 128px;
    width: 1216px;
    height: 419px;
    background-color: $font-color-fff;
}

.manager-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 328px;
    height: 294px;

    h1 {
        width: 312px;
        height: 102px;
        font-weight: 700;
        font-size: 44px;
        line-height: 51px;
        color: $font-color-000;
    }

    p {
        width: 312px;
        height: 96px;
        font-size: 18px;
        line-height: 32px;
        color: $font-color-000;
    }
}

.personal-manager {
    width: 301px;
    height: 50px;
    @extend %display-flex-spb;

    p {
        width: 232px;
        height: 44px;
        font-size: 13px;
        line-height: 22px;
        color: $font-color-787878;
    }
}

.manager-icon {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../img/avatar_small.png);
}

.form-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 307px;

    p {
        width: 280px;
        height: 66px;
        font-size: 13px;
        line-height: 22px;
        color: $font-color-787878;
    }
}

.your-name {
    p {
        width: 280px;
        height: 22px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: $font-color-000;
    }

    input {
        width: 312px;
        height: 56px;
        background: $font-color-F2F2F2;
        border-radius: 4px;
        padding-left: 19px;
    }

    ::placeholder {
        color: $font-color-A8A8A8;
        font-size: 16px;
        line-height: 22px;

    }
}

.question-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 294px;
}

.tellme {
    p {
        width: 205px;
        height: 22px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: $font-color-000;
    }



}

.tellme-input {
    width: 343px;
    height: 176px;
    background: $font-color-F2F2F2;
    border-radius: 4px;

    .tellme-input::placeholder {
        width: 240px;
        height: 44px;
        text-align: left;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: $font-color-A8A8A8;
    }

}

.send-que-btn {
    width: 344px;
    height: 63px;
    border-radius: 4px;
    background-color: $font-color-000;

    p {
        margin: auto;
        padding-top: 20px;
        width: 125px;
        height: 22px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.01em;
        color: $font-color-fff;
    }
}

.footer-elements {
    @extend %display-flex-spb;
    width: 1216px;
    height: 392px;
    background-color: $font-color-000;

}

.politics {
    margin-top: 100px;
    margin-left: auto;
    width: 224px;
    height: 136px;
    display: flex;
    flex-direction: column;



    p {
        width: 224px;
        height: 97px;
        font-size: 13px;
        line-height: 22px;
        color: #787878;
    }

    a {
        width: 208px;
        height: 23px;
        font-size: 13px;
        line-height: 22px;
        color: $font-color-fff;
    }
}

.footer-columns {
    margin: auto;
    @extend %display-flex-spb;
    width: 575px;
    height: 190px;

}

.footer-column1,
.footer-column2,
.footer-column3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        height: 22px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: $font-color-fff;
    }
}

.footer-column1 {
    width: 107px;
    height: 190px;
}

.footer-column2 {
    width: 138px;
    height: 190px;
}

.footer-column3 {
    width: 152px;
    height: 190px;
}

.contact {
    margin-top: auto;
    height: 263px;
    @extend %display-flex-spb;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 67px;
}

.number-time-cont {
    @extend %display-flex-spb;
    width: 152px;
    height: 79px;
    flex-direction: column;

    .number {
        width: 147px;
        height: 22px;
        font-size: 16px;
        line-height: 22px;
        color: $font-color-fff;
    }

    .worktime {
        width: 152px;
        height: 44px;
        font-size: 13px;
        line-height: 22px;
        color: $font-color-fff;
    }
}

.searcher {
    background-color: $font-color-000;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: $font-color-fff;
    }

    .green-dot {
        margin-left: 13px;
        background-image: url(../img/greendot.svg);
        background-repeat: no-repeat;
        width: 8px;
        height: 8px;
    }
}

@media screen and (max-width:425px) {

    .header-contact-info {
        margin: 0 auto;
        flex-direction: column;
    }

    .header-logo {
        margin: 0 auto;
        background-size: contain;
        width: 590px;
        height: 200px;
    }

    .header-block-contact {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
    }

    .header-contact-items {
        justify-content: center;
    }

    .item-vk,
    .item-inst,
    .item-whatsapp {
        background-size: contain;
        width: 108px;
        height: 108px;
        margin-right: 16px;
    }

    .header-avatar-icon {
        width: 150px;
        height: 150px;
        background-size: contain;
        margin-right: 8px;

    }

    .block-phone {
        margin-top: 40px;
        justify-content: center;
    }

    .block-phone p {
        margin: auto 0 auto 0;
        font-size: 50px;
    }

    .header-btn {
        margin-top: 50px;
        width: 90%;
        height: 80px;

        p {
            width: 80%;
            height: 80%;
            font-size: 250%;
            padding-top: 4%;
            margin: auto;
            text-align: center;
        }
    }

    nav ul {
        margin-top: 50px;
        flex-direction: column;

        li {
            margin-bottom: 10px;

            p {
                padding-left: 20px;
                font-size: 500%;
            }
        }
    }


    .ed-info {
        max-width: 425px;
        flex-direction: column;
    }

    .ed-main-img {
        width: 1222px;
        height: 1000px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            text-align: center;
            font-size: 80px;
            width: auto;
            line-height: inherit;
            height: auto;
        }

        p {
            text-align: center;
            margin-top: 20px;
            font-size: 50px;
            width: 100%;
        }

        ul {
            margin: 50px auto;
            flex-direction: column;
            font-size: 50px;
        }

        .moscow-img {
            margin: auto;
            position: unset;
            width: 300px;
            height: 300px;
            background-size: contain;

        }
    }

    .ed-request {
        width: 1222px;
        height: 1250px;

        .stages {
            width: 500px;
            margin: 50px auto;
            display: flex;
            justify-content: center;

            .stage1,
            .stage2,
            .stage3 {
                width: 20%;
                border: 6px solid $font-color-DFDFDE;
            }

            .stage2,
            .stage3 {
                margin-left: 30px;
                border: 6px solid $font-color-252525;
            }

        }

        .ed-up-text {
            display: flex;
            justify-content: center;
            width: auto;

            .ed-request-text {
                font-size: 80px;
            }

            .stage-number {
                font-size: 50px;
                margin-left: 50px;
            }
        }

        .ed-request-question {
            height: auto;
            width: 1050px;

            .question-text {
                text-align: center;
                font-size: 50px;
            }

            .answers {
                width: 90%;
                margin: 100px auto;

                .question-answer {
                    margin-bottom: 22px;
                    margin-right: 15px;
                    height: 87px;
                    padding: 24px 24px;
                    font-weight: 600;
                    font-size: 60px;
                    line-height: 22px;
                    letter-spacing: 0.01em;
                    color: #A8A8A8;
                    border: 6px solid #282828;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    border-radius: 40px;
                }
            }

            .ed-request-button {
                width: 800px;
                height: 84px;
                margin: 0 auto;

                p {
                    padding-top: 30px;
                    text-align: center;
                    width: 80%;
                    height: 100%;
                    margin: 0 auto 0 auto;
                    font-size: 50px;
                }
            }
        }
    }

    .directions {
        h1 {
            font-size: 80px;
            text-align: center;
        }
    }

    .items__of_directions {
        justify-content: center;
        margin-top: 100px;

        .flex-item-d {
            p {
                font-size: 50px;
            }
        }
    }

    .all_blocks-d {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .block-flex {
        width: 803px;
        height: 489px;

        h2 {
            font-size: 50px;
            margin-top: 40px;
            height: auto;
            line-height: 1;
            width: 476px;

        }
    }

    .svg--d1,
    .svg--d2,
    .svg--d3,
    .svg--d4,
    .svg--d5,
    .svg--d6 {

        width: 232px;
        height: 195px;
        margin-top: 65%;
    }

    .img-item-d {
        ul {
            margin-top: 40px;

            li {
                font-size: 40px;
            }
        }

        .btn-d {
            width: 407px;
            height: 66px;

            .btn-d-svg {
                font-size: 11px;
                line-height: 22px;
                margin-right: 7px;
            }

            .btn-d-w {
                font-size: 40px;
            }
        }
    }

    .btn-show-all-d {
        width: 1216px;
        height: 112px;

        p {
            font-size: 40px;
        }
    }

    .adv-first-container,
    .adv-second-container,
    .adv-third-container {
        flex-direction: column;
        align-items: center;
        height: auto;

        .advantage-info {
            margin: auto;
            width: auto;

            p {
                font-size: 40px;
                width: auto;
                height: auto;
                margin: 40px auto;
                text-align: left;

            }

            h2,
            h3,
            h4 {
                margin: auto;
                font-size: 80px;
                width: auto;
                height: auto;
                text-align: center;
                line-height: 1;
            }

            .diplom-choice {
                width: auto;
                height: auto;
                justify-content: center;
                margin-bottom: 30px;
            }

            .scheme-button {
                margin: auto;
                width: 850px;
                height: 122px;
                margin-top: 50px;
                margin-bottom: 50px;

                p {
                    text-align: center;
                    font-size: 50px;
                }
            }
        }

        .adv-first-image,
        .adv-second-image,
        .adv-third-image {
            width: 500px;
            height: 500px;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .que {

        h2,
        h3,
        h4 {
            font-size: 35px;
            width: auto;
        }

        p {
            width: 50%;
            font-size: 25px;
        }
    }

    .white-block {
        height: auto;
        flex-direction: column;
        align-items: center;

        .manager-block,
        .personal-manager,
        .form-block,
        .question-block {
            width: 100%;
            height: auto;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: auto;
            margin-right: auto;

            .personal-manager {
                flex-direction: column;
                align-items: center;

                .manager-icon {
                    background-size: cover;
                    margin-bottom: 40px;
                    margin-top: 40px;
                    height: 300px;
                    width: 300px;

                }
            }

            .form-block p {
                height: 50px;
                line-height: 1px;
            }


            .your-name {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 30px;

                p {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }
        }

        h1 {
            font-size: 50px;
            width: 100%;
            text-align: center;
        }

        p {
            width: 100%;
            height: auto;
            font-size: 40px;
            text-align: center;
        }

        .question-block {
            flex-direction: column;
            align-items: center;
        }

        .tellme {
            input {
                margin-top: 30px;
            }

            text-align: center;
            flex-direction: column;
            align-items: center;
            margin: auto;
        }
    }

    .footer-elements {
        flex-direction: column;
        height: auto;
        align-items: center;

        .footer-columns {
            width: 80%;
            margin-top: 30px;

            .footer-column1,
            .footer-column2,
            .footer-column3 {
                margin: auto;
                width: auto;
                height: auto;

                a {
                    height: auto;
                    width: auto;
                    font-size: 30px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }

        .politics {
            margin: 0;

            width: auto;
            height: auto;

            p,
            a {

                text-align: center;
                margin-top: 40px;
                margin-bottom: 40px;
                margin-left: auto;
                margin-right: auto;
                font-size: 50px;
                width: auto;
                height: 60px;
                line-height: 50px;
            }
        }

        .number-time-cont {
            width: auto;

            p {
                font-size: 40px;
                width: auto;
            }
        }
    }

    .searcher {
        display: none;
    }
}